mixin img(src, dimensions, widths, options)
	img(
		src=imgixSrc(src, widths[0], options)
		srcset=imgixSrcset(src, widths, options)
	)&attributes({ ...nominalDimensions(dimensions, widths, options), ...attributes })

mixin source(src, dimensions, widths, options)
	source(
		srcset=imgixSrcset(src, widths, options)
	)&attributes({ ...nominalDimensions(dimensions, widths, options), ...attributes })

doctype html
html(lang="en-CA")
	head
		include partial/head.pug
	body
		.dark
			a#skip-link.visually-hidden.focusable(href="#main") Skip to main content
		header#header.dark
			include partial/header.pug
		main#main
			section#hero
				picture.hero-image-picture
					+source("mark-at-market.jpg", [8192, 2731], widthsFull, { crop: "faces", ar: "3:1" })(
						media="(min-width: 100em)"
						sizes="auto, 100vw"
					)
					+source("mark-at-market.jpg", [8192, 4608], widthsFull, { crop: "faces", ar: "16:9" })(
						media="(min-width: 64em)"
						sizes="auto, 100vw"
					)
					+img("mark-at-market.jpg", [4098, 5464], widthsFull, { rect: "0,0,7000,5464", crop: "faces", ar: "4:3" })(
						alt="Mark Wiens stands smiling in Richmond Public Market"
						sizes="100vw"
						class="hero-image"
					)

				.constrain-width.herotext-container
					.herotext
						big Mark Wiens
						//- Unsure why I need two pipes here for whitespace
						hr(aria-hidden)
						small for Richmond City Council
					.chinese 马克·韦恩斯
						

			section.padded-x#tagline
				.constrain-width
					| Our community faces big challenges, and even bigger opportunities.
					| Let’s build a thriving community that works for everyone.

			section.padded-x#meet-mark
				.prose.constrain-width
					h2 Meet Mark
					picture
						+source("mark-at-market-2.jpg", [8192, 5464], [384, 768, 1152], {})(
							media="(min-width: 50em)"
							sizes="auto, 384px"
						)
						+img("mark-at-market-2.jpg", [4098, 5464], [140, 280, 420], { crop: "faces", ar: "3:4" })(
							id="mark-at-market"
							alt="Mark stands and smiles in passageway of Richmond Public Market"
							sizes="auto, 37.3333vw"
							loading="lazy"
						)

					p
						| Mark Wiens is a proud father and Richmond resident.
						| He’s spent more than a decade helping families navigate the region’s broken housing market, and now serves as a Director at Greater Vancouver Realtors, pushing for increased transparency and accountability.
					p
						| Before that, Mark established and operated a landscaping business.
						| He knows what it means to build something from the ground up through hard work,
						|
						+img("family.png", [4256, 4799], [280, 560, 720, 840], { con: 8 })(
							id="family-image-3"
							class="family-image"
							alt="Mark Wiens stands smiling next to his wife, and holds his small child"
							sizes="auto, 280px"
							loading="lazy"
						)
						|
						| taking responsibility and helping others – and understands that local government
						|
						+img("family.png", [4256, 4799], [240, 280, 560, 720], { con: 8 })(
							id="family-image-2"
							class="family-image"
							alt="Mark Wiens stands smiling next to his wife, and holds his small child"
							sizes="auto, (min-width: 32em) 280px, 53.33vw"
							loading="lazy"
						)
						|
						| must embody these same principles.
					+img("family.png", [4256, 4799], [200, 400, 600], { rect: "453,0,3803,4799", con: 8 })(
						id="family-image-1"
						class="family-image"
						alt="Mark Wiens stands smiling next to his wife, and holds his small child"
						sizes="auto, 53.33vw"
						loading="lazy"
					)
					p
						| Able to speak Mandarin, Mark believes that real leadership starts with listening, respect, and working together collaboratively to solve tough problems.

					.clearfix#meet-clearfix

			section.padded-x#get-involved.dark
				.prose-and-form.constrain-width
					.prose
						h2 Get involved
						p
							| Looking to make a positive difference and make some great friends?
						p
							| Join my team by entering your information and our team will be in contact soon.
					include partial/join-form.pug

			section.padded-x#request-a-sign.dark
				.prose-and-form.constrain-width
					.prose
						h2 Request a sign
						p
							| Show your support for real change in Richmond by having a lawn sign placed at your home.
							| Our team will confirm with you once your information has been submitted.
							| Thank you for your support!
					include partial/sign-form.pug

			section.padded-x#donate
				.prose-and-form.constrain-width
					.prose
						h2 Donate
						p
							| Donations are gladly welcome.
							| Please note that only Canadian citizens who are eligible to vote can donate.
						p
							| To keep us compliant, please send an e-transfer to #[a(href="mailto:team@votemarkwiens.ca") team@votemarkwiens.ca], as well as filling in this form.
					include partial/donate-form.pug

			footer#footer.dark
				div
					include partial/footer.pug
